<a href="https://colab.research.google.com/github/AMIT110409/web-scraping-through-chartink-for-stock-data-/blob/main/web_scraping_through_chartink_for_stocks_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
charting_Link ="https://chartink.com/screener/"
charting_url = 'https://chartink.com/screener/process'

In [ ]:
condition = "( {57960} ( [0] 15 minute close > [-1] 15 minute max ( 20 , [0] 15 minute close ) and [0] 15 minute volume > [0] 15 minute sma ( volume,20 ) ) ) "

In [ ]:
def GetDataFromchartink(payload):
    payload ={'scan_clause': payload}

    with requests.Session() as s:
        r = s.get(charting_Link)
        soup = BeautifulSoup(r.text,"html.parser")
        csrf = soup.select_one("[name='csrf-token']")['content']
        s.headers['x-csrf-token'] = csrf
        r = s.post(charting_url,data=payload)

        df = pd.DataFrame()
        for item in r.json()['data']:
            df = df.append(item,ignore_index=True)
    return df

In [ ]:
data = GetDataFromchartink(condition)

<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)
<ipython-input-4-9da773e7ca9c>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(item,ignore_index=True)

In [ ]:
data

,sr,nsecode,name,bsecode,per_chg,close,volume
0,1,VMART,V-mart Retail Limited,534976,-0.82,2098.65,12931
1,2,CUMMINSIND,Cummins India Limited,500480,0.12,1846.70,648800
2,3,TRENT,Trent Limited,500251,0.83,1724.95,732596
3,4,BIRLACORPN,Birla Corporation Limited,500335,0.04,1225.45,173334
4,5,BLUESTARCO,Blue Star Limited,500067,-1.03,785.85,331722
5,6,AUROPHARMA,Aurobindo Pharma Limited,524804,4.09,699.15,4074717
6,7,MEDANTA,Global Health Ltd,543654,2.36,661.00,1229171
7,8,ISEC,ICICI Securities Ltd,541179,7.04,563.05,2347003
8,9,RUSTOMJEE,Keystone Realtors Ltd,543669,0.37,551.00,34218
9,10,MARICO,Marico Limited,531642,0.81,528.50,1008663
10,11,TRITURBINE,Triveni Turbine Limited,533655,2.73,402.60,1017267
11,12,CGPOWER,CG Power and Industrial Solutions Ltd,500093,-1.02,368.80,1167160
12,13,NUVOCO,Nuvoco Vistas Corporation Ltd,543334,0.48,349.00,82931
13,14,FORTIS,Fortis Healthcare Limited,532843,-1.42,304.80,1072917
14,15,KNRCON,Knr Constructions Limited,532942,-0.27,238.45,274602
15,16,ABCAPITAL,Aditya Birla Capital Ltd,540691,1.95,175.00,5225285
16,17,KALYANKJIL,Kalyan Jewellers India Ltd,543278,2.93,126.60,8273467
17,18,MRPL,Mangalore Refinery And Petrochemicals Limited,500109,0.07,76.70,5317558

In [ ]:
data = data.sort_values(by='per_chg',ascending=False)

In [ ]:
data

,sr,nsecode,name,bsecode,per_chg,close,volume
7,8,ISEC,ICICI Securities Ltd,541179,7.04,563.05,2347003
5,6,AUROPHARMA,Aurobindo Pharma Limited,524804,4.09,699.15,4074717
16,17,KALYANKJIL,Kalyan Jewellers India Ltd,543278,2.93,126.60,8273467
10,11,TRITURBINE,Triveni Turbine Limited,533655,2.73,402.60,1017267
6,7,MEDANTA,Global Health Ltd,543654,2.36,661.00,1229171
15,16,ABCAPITAL,Aditya Birla Capital Ltd,540691,1.95,175.00,5225285
2,3,TRENT,Trent Limited,500251,0.83,1724.95,732596
9,10,MARICO,Marico Limited,531642,0.81,528.50,1008663
12,13,NUVOCO,Nuvoco Vistas Corporation Ltd,543334,0.48,349.00,82931
8,9,RUSTOMJEE,Keystone Realtors Ltd,543669,0.37,551.00,34218
1,2,CUMMINSIND,Cummins India Limited,500480,0.12,1846.70,648800
17,18,MRPL,Mangalore Refinery And Petrochemicals Limited,500109,0.07,76.70,5317558
3,4,BIRLACORPN,Birla Corporation Limited,500335,0.04,1225.45,173334
14,15,KNRCON,Knr Constructions Limited,532942,-0.27,238.45,274602
0,1,VMART,V-mart Retail Limited,534976,-0.82,2098.65,12931
11,12,CGPOWER,CG Power and Industrial Solutions Ltd,500093,-1.02,368.80,1167160
4,5,BLUESTARCO,Blue Star Limited,500067,-1.03,785.85,331722
13,14,FORTIS,Fortis Healthcare Limited,532843,-1.42,304.80,1072917

In [ ]:
data.to_csv("chartink_result.csv")